body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  .container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2, h3 {
    font-weight: bold;
    color: #333;
  }
  
  form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
  }
  
  .form-control {
    border-color: #ddd;
  }
  
  .form-check-input:disabled ~ .form-check-label {
    color: #999;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }
  
  #message {
    font-weight: bold;
  }